<h4>Es stehen ihnen folgende Möglichkeiten zur Verfügung:</h4>
<%= link_to "Aktuell verendete Schweine", :controller => 'deads', :action => 'new' %><br />
<%= link_to "Liste aller verendete Schweine", :controller => 'deads', :action => 'index' %>